################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/AutService.JwAuthLogin.Api/bin
/AutService.JwAuthLogin.Api/obj
/AutService.JwAuthLogin.Application/bin
/AutService.JwAuthLogin.Application/obj
/AutService.JwAuthLogin.Application/obj
/AutService.JwAuthLogin.Domain/bin
/AutService.JwAuthLogin.Domain/obj
/AutService.JwAuthLogin.Domain/obj
/AutService.JwAuthLogin.Infrastructure/bin
/AutService.JwAuthLogin.Infrastructure/obj

